.product-details {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.product-detail-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-details p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

.product-details p strong {
  color: #333;
  font-size: 20px;
}

.option-groups {
  margin: 20px 0;
  text-align: left;
}

.option-group {
  margin: 0px;
}

.option-group h3 {
  margin: 5px 0px;
}

.option-group select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.option-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.option label {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.order-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.order-button:hover {
  background-color: #218838;
}
